@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --bg-top: #f1ae04;
  --white: #fff;
  --black: #000;
  --black2: #333;
  --greenbg: #25d390;
  --blue: #1c477a;
  --red: #c02244;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
