@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --bg-top: #f1ae04;
  --white: #fff;
  --black: #000;
  --black2: #333;
  --greenbg: #25d390;
  --blue: #1c477a;
  --red: #c02244;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/* Body Style */
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-body);
  overflow-x: hidden;
}

body.change .card {
  background: linear-gradient(to bottom, var(--red) 50%, var(--white) 50%);
}

body.change .card .bottom-card .price {
  background: var(--red) !important;
}

/* Card Style */
.card {
  max-width: 300px;
  height: 580px;
  max-height: 100vh;
  background: linear-gradient(to bottom, var(--bg-top) 50%, var(--white) 50%);
  border-radius: 20px;
}

/* Top Card Style*/
.card .top-card {
    color: var(--white);
  }
  .card .top-card img {
    width: 80px;
    margin: 0px 0px 20px;
  }
  .card .top-card h1 {
    font-size: 20px;
    margin: 0 0 10px;
  }
  
  .card .top-card p {
    font-size: 10px;
  }
  
  .card .top-card .images img {
    position: absolute;
    width: 300px;
    transition: all 1s ease;
  }
  
  .card .top-card .images .img1 {
    top: -20px;
    left: -100vw;
  }
  .card .top-card .images .img1.active {
    left: 100px;
  }
  
  .card .top-card .images .img2 {
    right: -100vw;
    top: -70px;
  }
  .card .top-card .images .img2.active {
    transform: rotateZ(-45deg);
    right: -60px;
  }